---
/* Importaciones de logos de la carpeta "arriba" */
import havannaLogo from '../assets/clients_logos/arriba/havanna.png'
import naranjaxLogo from '../assets/clients_logos/arriba/isologo-naranjax.webp'
import naldoLogo from '../assets/clients_logos/arriba/naldo.svg'
import articoLogo from '../assets/clients_logos/arriba/artico.png'
import mercadoPuertoLogo from '../assets/clients_logos/arriba/MercadoPuerto_Logo170x140-png.webp'
import edeaLogo from '../assets/clients_logos/arriba/Edea-blanco.png'
import raffeLogo from '../assets/clients_logos/arriba/logo_raffe.png'
import frioPolarLogo from '../assets/clients_logos/arriba/Logo-frio1-e1702163016791.png'
import pintureriasCentroLogo from '../assets/clients_logos/arriba/pintureriascentro.png'
import openSportLogo from '../assets/clients_logos/arriba/logo-open.png'
import coppensLogo from '../assets/clients_logos/arriba/coppens.svg'
import favaLogo from '../assets/clients_logos/arriba/logo-fava-simple.png'
import floridaOutletLogo from '../assets/clients_logos/arriba/floridaoutlet.svg'
import laCasianaLogo from '../assets/clients_logos/arriba/logo_la_casiana.png'
import panacityLogo from '../assets/clients_logos/arriba/panacity-logo.jpg'

/* Importaciones de logos de la carpeta "medio" */
import pumaLogo from '../assets/clients_logos/medio/puma.png'
import lacosteLogoMedio from '../assets/clients_logos/medio/Logo_da_Lacoste.png'
import tiendaLeonLogoMedio from '../assets/clients_logos/medio/tienda_leon.png'
import cafeMartinezLogoMedio from '../assets/clients_logos/medio/cafe_martinez.webp'
import andreaniLogoMedio from '../assets/clients_logos/medio/andreani.svg'
import sacoaLogoMedio from '../assets/clients_logos/medio/sacoa.png'
import montecatiniLogoMedio from '../assets/clients_logos/medio/montecatini.png'
import clubMilaLogo from '../assets/clients_logos/medio/club_milanesa.webp'
import tripLogo from '../assets/clients_logos/medio/logo-trip.png'
import pampaLogo from '../assets/clients_logos/medio/pampa_novillo.webp'
import centrosiderLogo from '../assets/clients_logos/medio/logo-centrosider.png'
import altoConstitucionLogo from '../assets/clients_logos/medio/alto_constitucion.jpg'
import feriaIndependenciaLogo from '../assets/clients_logos/medio/feria_independencia.jpg'
import laPrimeraCafeLogo from '../assets/clients_logos/medio/logo-la-primera-cafe.png'
import sullairLogo from '../assets/clients_logos/medio/sullair_logo.svg'
import beniplastLogo from '../assets/clients_logos/medio/logo-beniplast-350.png'
import arohaLogo from '../assets/clients_logos/medio/aroha.jpg'
import mrFlyLogo from '../assets/clients_logos/medio/logo-mrfly.webp'
import terrazasLogo from '../assets/clients_logos/medio/terrazas_balneario.jpg'
import alicanteBalnearioLogo from '../assets/clients_logos/medio/alicante_balneario.jpg'
import alfonsinaBalnearioLogo from '../assets/clients_logos/medio/alfonsina_balneario.jpg'
import cripLogo from '../assets/clients_logos/medio/crip_logo.jpg'
import camaronBrujoLogo from '../assets/clients_logos/medio/camaronbrujo.webp'
import ardapezLogo from '../assets/clients_logos/medio/ardapez.jpg'
import syngentaLogo from '../assets/clients_logos/medio/syngenta.svg'
import elRodeoLogo from '../assets/clients_logos/medio/el_rodeo.jpg'
import antoniucciLogo from '../assets/clients_logos/medio/antoniucci.png'
import lindeLogo from '../assets/clients_logos/medio/linde-logo-desktop.avif'
import yachtClubLogo from '../assets/clients_logos/medio/yatchclub.png'
import golfClubLogo from '../assets/clients_logos/medio/logogolfclub.png'
import nikroLogo from '../assets/clients_logos/medio/nikro.png'
import ambitoLogo from '../assets/clients_logos/medio/logo-ambito-nuevo-2024.png'
import mercedinoLogo from '../assets/clients_logos/medio/mercadino.png'
import multiEnvasesLogo from '../assets/clients_logos/medio/Logo-multiENVASES-sin-fondo_1.png'
import carnicosLogo from '../assets/clients_logos/medio/carnicos.jpg'
import baguetteLogo from '../assets/clients_logos/medio/baguette.jpg'
import comarLogo from '../assets/clients_logos/medio/chevrolet-comar.avif'
import baumLogo from '../assets/clients_logos/medio/logo-baum.png'
import rinconDulceLogo from '../assets/clients_logos/medio/rincon_dulce.jpg'
import laCuadraLogo from '../assets/clients_logos/medio/la_cuadra.jpg'

/* Importaciones de logos de la carpeta "abajo" */
import torreonLogo from '../assets/clients_logos/abajo/Logo-Torreon-del-Monje.png'
import i47streetLogo from '../assets/clients_logos/abajo/47street.webp'
import ripsaLogo from '../assets/clients_logos/abajo/ripsa.svg'
import zanellaLogo from '../assets/clients_logos/abajo/zanella.png'
import mayoristaSotoLogo from '../assets/clients_logos/abajo/logo_mayorista_soto.jpg'
import campoVerdeLogo from '../assets/clients_logos/abajo/campo_Verde.jpg'
import santulliLogo from '../assets/clients_logos/abajo/santulli.png'
import libreriaLuroLogo from '../assets/clients_logos/abajo/logo-librerialuro_2.png'
import smataLogo from '../assets/clients_logos/abajo/LOGO-SMATA-footer.png'
import utaLogo from '../assets/clients_logos/abajo/MARCA-UTA-LIGHT-TRP.fw_-1.png'
import alitoLogo from '../assets/clients_logos/abajo/alito.jpg'
import texanoLogo from '../assets/clients_logos/abajo/texano.jpg'
import luzYFuerzaLogo from '../assets/clients_logos/abajo/Logo-LyF-horizontal-1.jpeg'
import colegioNacionesUnidasLogo from '../assets/clients_logos/abajo/colegio_naciones_unidas.jpg'
import mercantilAndinaLogo from '../assets/clients_logos/abajo/mercantilandina.webp'
import mastromarinoLogo from '../assets/clients_logos/abajo/mastromarino.jpg'
import matafuegosMarplatenseLogo from '../assets/clients_logos/abajo/matafuegosmarplatense.avif'
import matafuegosMarDelPlataLogo from '../assets/clients_logos/abajo/matafuergosmardelplata.webp'
---

<section id="clientes" class="w-full mx-auto my-35">
    <div class="space-y-1 flex flex-col items-center mb-16">
        <h1 class="text-3xl font-semibold text-[#902727]">
            Clientes
        </h1>
        <div class="w-12 h-1 bg-[#902727] rounded-full"></div>
    </div>
    
    <!-- Primera fila - Logos de "arriba" -->
    <div class="wrapper-arriba">
        <div class="carousel">
            <div class="group flex items-center h-50">
                <div class="logo-container"><img class="item-logo logo-grande" src={havannaLogo.src} alt="Havanna"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={naranjaxLogo.src} alt="NaranjaX"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={naldoLogo.src} alt="Naldo"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={articoLogo.src} alt="Artico"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={mercadoPuertoLogo.src} alt="Mercado Puerto"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={edeaLogo.src} alt="Edea"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={raffeLogo.src} alt="Raffe"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={frioPolarLogo.src} alt="Frío Polar"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={pintureriasCentroLogo.src} alt="Pinturerías Centro"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={openSportLogo.src} alt="Open Sport"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={coppensLogo.src} alt="Coppens"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={favaLogo.src} alt="Fava"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={floridaOutletLogo.src} alt="Florida Outlet"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={laCasianaLogo.src} alt="La Casiana"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={panacityLogo.src} alt="Panacity"></div>
            </div>
            <div aria-hidden class="group flex items-center h-50">
                <div class="logo-container"><img class="item-logo logo-grande" src={havannaLogo.src} alt="Havanna"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={naranjaxLogo.src} alt="NaranjaX"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={naldoLogo.src} alt="Naldo"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={articoLogo.src} alt="Artico"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={mercadoPuertoLogo.src} alt="Mercado Puerto"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={edeaLogo.src} alt="Edea"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={raffeLogo.src} alt="Raffe"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={frioPolarLogo.src} alt="Frío Polar"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={pintureriasCentroLogo.src} alt="Pinturerías Centro"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={openSportLogo.src} alt="Open Sport"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={coppensLogo.src} alt="Coppens"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={favaLogo.src} alt="Fava"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={floridaOutletLogo.src} alt="Florida Outlet"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={laCasianaLogo.src} alt="La Casiana"></div>
                <div class="logo-container"><img class="item-logo logo-grande" src={panacityLogo.src} alt="Panacity"></div>
            </div>
        </div>
    </div>
    
    <!-- Segunda fila - Logos de "medio" -->
    <div class="wrapper-medio my-10">
        <div class="carousel">
            <div class="group-reverse flex items-center h-50">
                <div class="logo-container"><img class="item-logo" src={pumaLogo.src} alt="Puma"></div>
                <div class="logo-container"><img class="item-logo" src={lacosteLogoMedio.src} alt="Lacoste"></div>
                <div class="logo-container"><img class="item-logo" src={tiendaLeonLogoMedio.src} alt="Tienda León"></div>
                <div class="logo-container"><img class="item-logo" src={cafeMartinezLogoMedio.src} alt="Café Martínez"></div>
                <div class="logo-container"><img class="item-logo" src={andreaniLogoMedio.src} alt="Andreani"></div>
                <div class="logo-container"><img class="item-logo" src={sacoaLogoMedio.src} alt="Sacoa"></div>
                <div class="logo-container"><img class="item-logo" src={montecatiniLogoMedio.src} alt="Montecatini"></div>
                <div class="logo-container"><img class="item-logo" src={clubMilaLogo.src} alt="Club Milanesa"></div>
                <div class="logo-container"><img class="item-logo" src={tripLogo.src} alt="Trip"></div>
                <div class="logo-container"><img class="item-logo" src={pampaLogo.src} alt="Pampa Novillo"></div>
                <div class="logo-container"><img class="item-logo" src={centrosiderLogo.src} alt="Centrosider"></div>
                <div class="logo-container"><img class="item-logo" src={altoConstitucionLogo.src} alt="Alto Constitución"></div>
                <div class="logo-container"><img class="item-logo" src={feriaIndependenciaLogo.src} alt="Feria Independencia"></div>
                <div class="logo-container"><img class="item-logo" src={laPrimeraCafeLogo.src} alt="La Primera Café"></div>
                <div class="logo-container"><img class="item-logo" src={sullairLogo.src} alt="Sullair"></div>
                <div class="logo-container"><img class="item-logo" src={beniplastLogo.src} alt="Beniplast"></div>
                <div class="logo-container"><img class="item-logo" src={arohaLogo.src} alt="Aroha"></div>
                <div class="logo-container"><img class="item-logo" src={mrFlyLogo.src} alt="Mr Fly"></div>
                <div class="logo-container"><img class="item-logo" src={terrazasLogo.src} alt="Terrazas Balneario"></div>
                <div class="logo-container"><img class="item-logo" src={alicanteBalnearioLogo.src} alt="Alicante Balneario"></div>
                <div class="logo-container"><img class="item-logo" src={alfonsinaBalnearioLogo.src} alt="Puma"></div>
                <div class="logo-container"><img class="item-logo" src={cripLogo.src} alt="Lacoste"></div>
                <div class="logo-container"><img class="item-logo" src={camaronBrujoLogo.src} alt="Tienda León"></div>
                <div class="logo-container"><img class="item-logo" src={ardapezLogo.src} alt="Café Martínez"></div>
                <div class="logo-container"><img class="item-logo" src={syngentaLogo.src} alt="Andreani"></div>
                <div class="logo-container"><img class="item-logo" src={elRodeoLogo.src} alt="Sacoa"></div>
                <div class="logo-container"><img class="item-logo" src={antoniucciLogo.src} alt="Montecatini"></div>
                <div class="logo-container"><img class="item-logo" src={lindeLogo.src} alt="Club Milanesa"></div>
                <div class="logo-container"><img class="item-logo item-logo-background" src={yachtClubLogo.src} alt="Trip"></div>
                <div class="logo-container"><img class="item-logo" src={golfClubLogo.src} alt="Pampa Novillo"></div>
                <div class="logo-container"><img class="item-logo" src={nikroLogo.src} alt="Centrosider"></div>
                <div class="logo-container"><img class="item-logo" src={ambitoLogo.src} alt="Alto Constitución"></div>
                <div class="logo-container"><img class="item-logo" src={mercedinoLogo.src} alt="Feria Independencia"></div>
                <div class="logo-container"><img class="item-logo" src={multiEnvasesLogo.src} alt="La Primera Café"></div>
                <div class="logo-container"><img class="item-logo" src={carnicosLogo.src} alt="Sullair"></div>
                <div class="logo-container"><img class="item-logo" src={baguetteLogo.src} alt="Beniplast"></div>
                <div class="logo-container"><img class="item-logo" src={comarLogo.src} alt="Aroha"></div>
                <div class="logo-container"><img class="item-logo" src={baumLogo.src} alt="Mr Fly"></div>
                <div class="logo-container"><img class="item-logo" src={rinconDulceLogo.src} alt="Terrazas Balneario"></div>
                <div class="logo-container"><img class="item-logo" src={laCuadraLogo.src} alt="Alicante Balneario"></div>


            </div>
            <div aria-hidden class="group-reverse flex items-center h-50">
                <div class="logo-container"><img class="item-logo" src={pumaLogo.src} alt="Puma"></div>
                <div class="logo-container"><img class="item-logo" src={lacosteLogoMedio.src} alt="Lacoste"></div>
                <div class="logo-container"><img class="item-logo" src={tiendaLeonLogoMedio.src} alt="Tienda León"></div>
                <div class="logo-container"><img class="item-logo" src={cafeMartinezLogoMedio.src} alt="Café Martínez"></div>
                <div class="logo-container"><img class="item-logo" src={andreaniLogoMedio.src} alt="Andreani"></div>
                <div class="logo-container"><img class="item-logo" src={sacoaLogoMedio.src} alt="Sacoa"></div>
                <div class="logo-container"><img class="item-logo" src={montecatiniLogoMedio.src} alt="Montecatini"></div>
                <div class="logo-container"><img class="item-logo" src={clubMilaLogo.src} alt="Club Milanesa"></div>
                <div class="logo-container"><img class="item-logo" src={tripLogo.src} alt="Trip"></div>
                <div class="logo-container"><img class="item-logo" src={pampaLogo.src} alt="Pampa Novillo"></div>
                <div class="logo-container"><img class="item-logo" src={centrosiderLogo.src} alt="Centrosider"></div>
                <div class="logo-container"><img class="item-logo" src={altoConstitucionLogo.src} alt="Alto Constitución"></div>
                <div class="logo-container"><img class="item-logo" src={feriaIndependenciaLogo.src} alt="Feria Independencia"></div>
                <div class="logo-container"><img class="item-logo" src={laPrimeraCafeLogo.src} alt="La Primera Café"></div>
                <div class="logo-container"><img class="item-logo" src={sullairLogo.src} alt="Sullair"></div>
                <div class="logo-container"><img class="item-logo" src={beniplastLogo.src} alt="Beniplast"></div>
                <div class="logo-container"><img class="item-logo" src={arohaLogo.src} alt="Aroha"></div>
                <div class="logo-container"><img class="item-logo" src={mrFlyLogo.src} alt="Mr Fly"></div>
                <div class="logo-container"><img class="item-logo" src={terrazasLogo.src} alt="Terrazas Balneario"></div>
                <div class="logo-container"><img class="item-logo" src={alicanteBalnearioLogo.src} alt="Alicante Balneario"></div>
                <div class="logo-container"><img class="item-logo" src={alfonsinaBalnearioLogo.src} alt="Puma"></div>
                <div class="logo-container"><img class="item-logo" src={cripLogo.src} alt="Lacoste"></div>
                <div class="logo-container"><img class="item-logo" src={camaronBrujoLogo.src} alt="Tienda León"></div>
                <div class="logo-container"><img class="item-logo" src={ardapezLogo.src} alt="Café Martínez"></div>
                <div class="logo-container"><img class="item-logo" src={syngentaLogo.src} alt="Andreani"></div>
                <div class="logo-container"><img class="item-logo" src={elRodeoLogo.src} alt="Sacoa"></div>
                <div class="logo-container"><img class="item-logo" src={antoniucciLogo.src} alt="Montecatini"></div>
                <div class="logo-container"><img class="item-logo" src={lindeLogo.src} alt="Club Milanesa"></div>
                <div class="logo-container"><img class="item-logo item-logo-background" src={yachtClubLogo.src} alt="Trip"></div>
                <div class="logo-container"><img class="item-logo" src={golfClubLogo.src} alt="Pampa Novillo"></div>
                <div class="logo-container"><img class="item-logo" src={nikroLogo.src} alt="Centrosider"></div>
                <div class="logo-container"><img class="item-logo" src={ambitoLogo.src} alt="Alto Constitución"></div>
                <div class="logo-container"><img class="item-logo" src={mercedinoLogo.src} alt="Feria Independencia"></div>
                <div class="logo-container"><img class="item-logo" src={multiEnvasesLogo.src} alt="La Primera Café"></div>
                <div class="logo-container"><img class="item-logo" src={carnicosLogo.src} alt="Sullair"></div>
                <div class="logo-container"><img class="item-logo" src={baguetteLogo.src} alt="Beniplast"></div>
                <div class="logo-container"><img class="item-logo" src={comarLogo.src} alt="Aroha"></div>
                <div class="logo-container"><img class="item-logo" src={baumLogo.src} alt="Mr Fly"></div>
                <div class="logo-container"><img class="item-logo" src={rinconDulceLogo.src} alt="Terrazas Balneario"></div>
                <div class="logo-container"><img class="item-logo" src={laCuadraLogo.src} alt="Alicante Balneario"></div>
            </div>
        </div>
    </div>
    
    <!-- Tercera fila - Logos de "abajo" -->
    <div class="wrapper-abajo">
        <div class="carousel">
            <div class="group flex items-center h-50">
                <div class="logo-container"><img class="item-logo" src={torreonLogo.src} alt="Torreón del Monje"></div>
                <div class="logo-container"><img class="item-logo" src={i47streetLogo.src} alt="47 Street"></div>
                <div class="logo-container"><img class="item-logo" src={ripsaLogo.src} alt="Ripsa"></div>
                <div class="logo-container"><img class="item-logo" src={zanellaLogo.src} alt="Zanella"></div>
                <div class="logo-container"><img class="item-logo" src={mayoristaSotoLogo.src} alt="Mayorista Soto"></div>
                <div class="logo-container"><img class="item-logo" src={campoVerdeLogo.src} alt="Campo Verde"></div>
                <div class="logo-container"><img class="item-logo" src={santulliLogo.src} alt="Santulli"></div>
                <div class="logo-container"><img class="item-logo" src={libreriaLuroLogo.src} alt="Librería Luro"></div>
                <div class="logo-container"><img class="item-logo" src={smataLogo.src} alt="SMATA"></div>
                <div class="logo-container"><img class="item-logo" src={utaLogo.src} alt="UTA"></div>
                <div class="logo-container"><img class="item-logo" src={alitoLogo.src} alt="Alito"></div>
                <div class="logo-container"><img class="item-logo" src={texanoLogo.src} alt="Texano"></div>
                <div class="logo-container"><img class="item-logo" src={luzYFuerzaLogo.src} alt="Luz y Fuerza"></div>
                <div class="logo-container"><img class="item-logo" src={colegioNacionesUnidasLogo.src} alt="Colegio Naciones Unidas"></div>
                <div class="logo-container"><img class="item-logo" src={mercantilAndinaLogo.src} alt="Mercantil Andina"></div>
                <div class="logo-container"><img class="item-logo" src={mastromarinoLogo.src} alt="Mastromarino"></div>
                <div class="logo-container"><img class="item-logo" src={matafuegosMarplatenseLogo.src} alt="Matafuegos Marplatense"></div>
                <div class="logo-container"><img class="item-logo" src={matafuegosMarDelPlataLogo.src} alt="Matafuegos Mar del Plata"></div>
            </div>

            <div class="group flex items-center h-50">
                <div class="logo-container"><img class="item-logo" src={torreonLogo.src} alt="Torreón del Monje"></div>
                <div class="logo-container"><img class="item-logo" src={i47streetLogo.src} alt="47 Street"></div>
                <div class="logo-container"><img class="item-logo" src={ripsaLogo.src} alt="Ripsa"></div>
                <div class="logo-container"><img class="item-logo" src={zanellaLogo.src} alt="Zanella"></div>
                <div class="logo-container"><img class="item-logo" src={mayoristaSotoLogo.src} alt="Mayorista Soto"></div>
                <div class="logo-container"><img class="item-logo" src={campoVerdeLogo.src} alt="Campo Verde"></div>
                <div class="logo-container"><img class="item-logo" src={santulliLogo.src} alt="Santulli"></div>
                <div class="logo-container"><img class="item-logo" src={libreriaLuroLogo.src} alt="Librería Luro"></div>
                <div class="logo-container"><img class="item-logo" src={smataLogo.src} alt="SMATA"></div>
                <div class="logo-container"><img class="item-logo" src={utaLogo.src} alt="UTA"></div>
                <div class="logo-container"><img class="item-logo" src={alitoLogo.src} alt="Alito"></div>
                <div class="logo-container"><img class="item-logo" src={texanoLogo.src} alt="Texano"></div>
                <div class="logo-container"><img class="item-logo" src={luzYFuerzaLogo.src} alt="Luz y Fuerza"></div>
                <div class="logo-container"><img class="item-logo" src={colegioNacionesUnidasLogo.src} alt="Colegio Naciones Unidas"></div>
                <div class="logo-container"><img class="item-logo" src={mercantilAndinaLogo.src} alt="Mercantil Andina"></div>
                <div class="logo-container"><img class="item-logo" src={mastromarinoLogo.src} alt="Mastromarino"></div>
                <div class="logo-container"><img class="item-logo" src={matafuegosMarplatenseLogo.src} alt="Matafuegos Marplatense"></div>
                <div class="logo-container"><img class="item-logo" src={matafuegosMarDelPlataLogo.src} alt="Matafuegos Mar del Plata"></div>
            </div>
        </div>
    </div>
</section>

<style scoped>
    /* Estilos comunes */

    .carousel {
        margin: 0 auto;
        padding: 20px 0;
        max-width: 100%;
        overflow: hidden;
        display: flex;
        > * {
            flex: 0 0 100%;
        }
        &:hover .group, &:hover .group-reverse {
            animation-play-state: paused;
        }
    }

    .group {
        display: flex;
        gap: 20px;
        /* Add padding to the right to create a gap between the last and first card. */
        padding-right: 20px;
        will-change: transform; /* We should be nice to the browser - let it know what we're going to animate. */
        animation: scrolling 15s linear infinite;
    }

    .group-reverse {
        display: flex;
        gap: 20px;
        /* Add padding to the right to create a gap between the last and first card. */
        padding-left: 20px;
        will-change: transform; /* We should be nice to the browser - let it know what we're going to animate. */
        animation: scrolling-reverse 15s linear infinite;
    }

    @keyframes scrolling {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes scrolling-reverse {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }
    .wrapper-arriba, .wrapper-medio, .wrapper-abajo {
        margin-inline: auto;
        position: relative;
        overflow: hidden;
        background-color: rgba(133, 24, 24, 0.295);
    }
    
    /* Estilos específicos para cada fila */
    .wrapper-arriba {
        background-color: rgba(133, 24, 24, 0.05);
        background-color: rgba(133, 24, 24, 0.295);
    }

    .item-logo {
        max-width: 160px;
        max-height: 80px;
        object-fit: contain;
    }

    .item-logo-background {
        background-color: white !important;
        padding: 5px;
    }

    /* Logos más grandes para la primera fila (arriba) */
    .logo-grande {
        max-width: 300px !important;
        max-height: 100px !important;
    }
</style>