---
/* 
    Torreon abajo
    lacoste al medio
    i47street bajo
    montecatini medio
    havanna arriba
    andreani medio
    tienda len medio
    artico arriba
    cafe martinez medio
    puma medio
    sacoa medio
    ripsa abajo
    alicante medio
    libreria luro abajo
    mrfly medio
    naldo arriba
    aroha medio
    campo verde abajo
    sullair medio
    primera cafe medio
    feria independencia medio
    alto constitucion medio
    alfonsina medio
    pampa medio
    trip medio
    subway abajo
    clubmila medio
    raffe arriba
    zanella abajo
    terrazas medio
    santulli abajo
    beniplast medio
    mercadopuerto arriba
    centrosrider medio
    mayorista soto abajo
    edea arriba

    FALTA LOGO
    frio polar arriba
    pinteruteri centro arriba
    open sport arriba
    coppens arriba
    fava arriba
    smata abajo
    camaron brujo medio
    ardapez medio
    suteriacchi abajo
    empresa piovanno medio
    uta abajo
    singenta medio
    el rodeo medio
    alito abajo
    vulcamoya vuela
    vivero antonuchi medio
    texano abajo
    linde medio
    yatch club medio
    golf club medio
    ocean club medio
    nicro medio
    ambito medio
    subway vuela
    desiderata, iguenama vuela
    el mercedino medio
    piedra bugna vuela
    cocheria tomassini medio
    ohsur vuela
    sindicato luz y fuerza abjo
    sancor salud vuela
    le pain vuela
    gusen car medio
    porfar medio
    multienvases medio
    gralifer vuela
    productos carnicos del sur medio
    colegio de las anciones unidas abajo
    florida outlet arriba
    bagguete medio
    comar medio
    baum medio
    rincon dulce medio
    la cuadra medio
    favacar vuela
    eurocafe medio
    papa frulas vuela
    levis medio
    honda medio
    medinilla medio
    alppine skae medio
    manso medio
    nike medio
    rafaeñ y yardino medio
    casa camararon medio
    dem medio
    mercatil andina abajo
    guilis medio
    lar vuela
    citroen big sur vuela
    extra gas medio
    telecom vuela
    pescaria di constanzo medio
    muebles paris medio
    monte rico medio
    la casiana arriba
    la destileria vuela
    clinica salud visual medio
    mastromarino abajo
    mua vuela
    leo paparela vuela
    bob milanga vuela
    chajamar medio
    la loquita medio
    belchan  medio
    multi envanses medio
    banner gym medio
    media max medioh
    roso medio
    luna roja medio
    trattoriana medio
    jardin frutillas medio
    solana medio
    praxair arriba
    clinica de ojos jb justo medio
    prolaquin medio
    fundacion dar salud medio
    clinica colon medio
    hair recovery medio
    northpath medio
    panacity arriba
    naranja arriba
    crip medio
    PALADINI (EN ESPERA)
*/

/* En fondo blanco */
import havannaLogo from '../assets/clients_logos/white/havanna.png'
import naranjaxLogo from '../assets/clients_logos/white/isologo-naranjax.webp'
import torreonLogo from '../assets/clients_logos/white/Logo-Torreon-del-Monje.png'
import lacosteLogo from '../assets/clients_logos/white/Logo_da_Lacoste.png'
import i47streetLogo from '../assets/clients_logos/white/47street.webp'
import montecatiniLogo from '../assets/clients_logos/white/montecatini.png'
import andreaniLogo from '../assets/clients_logos/white/andreani.svg'
import tiendaLeonLogo from '../assets/clients_logos/white/tienda_leon.png'
import sacoaLogo from '../assets/clients_logos/white/sacoa.png'
import ripsaLogo from '../assets/clients_logos/white/ripsa.svg'
import articoLogo from '../assets/clients_logos/white/artico.png'
import cafeMartinezLogo from '../assets/clients_logos/white/cafe_martinez.webp'
import alicanteBalnearioLogo from '../assets/clients_logos/white/alicante_balneario.jpg'
import libreriaLuroLogo from '../assets/clients_logos/white/logo-librerialuro_2.png'
import mrFlyLogo from '../assets/clients_logos/white/logo-mrfly-inflatablepark-2023-03-copia-160x107-1.webp'
import naldoLogo from '../assets/clients_logos/white/naldo.svg'
import arohaLogo from '../assets/clients_logos/white/aroha.jpg'
import campoVerdeLogo from '../assets/clients_logos/white/campo_Verde.jpg'
import sullairLogo from '../assets/clients_logos/white/sullair_logo.svg'
import laPrimeraCafeLogo from '../assets/clients_logos/white/logo-la-primera-cafe-qgh3lrlpvf7crvuezyuubeog5lzva5w62trjixu6p4.png'
import feriaIndependenciaLogo from '../assets/clients_logos/white/feria_independencia.jpg'
import altoConstitucionLogo from '../assets/clients_logos/white/alto_constitucion.jpg'
import cripLogo from '../assets/clients_logos/white/crip_logo.jpg'
import alfonsinaBalnearioLogo from '../assets/clients_logos/white/alfonsina_balneario.jpg'

/* En fondo algo */
import pampaLogo from '../assets/clients_logos/white/pampa_novillo.webp'
import tripLogo from '../assets/clients_logos/white/logo-trip.png'
import subwayLogo from '../assets/clients_logos/others/subway-logo.avif'
import clubMilaLogo from '../assets/clients_logos/others/club_milanesa.webp'
import raffeLogo from '../assets/clients_logos/others/logo_raffe.png'
import zanellaLogo from '../assets/clients_logos/others/zanella.png'
import terrazasLogo from '../assets/clients_logos/others/terrazas_balneario.jpg'
import santulliLogo from '../assets/clients_logos/others/santulli.png'
import beniplastLogo from '../assets/clients_logos/others/logo-beniplast-350.png'
import mercadoPuertoLogo from '../assets/clients_logos/others/MercadoPuerto_Logo170x140-png.webp'
import centrosiderLogo from '../assets/clients_logos/others/logo-centrosider.png'
import mayoristaSotoLogo from '../assets/clients_logos/others/logo_mayorista_soto.jpg'
import edeaLogo from '../assets/clients_logos/others/Edea-blanco.png'




---

<section id="clientes" class="w-full mx-auto my-35">
    <div class="space-y-1 flex flex-col items-center mb-16">
        <h1 class="text-3xl font-semibold text-[#902727]">
            Clientes
        </h1>
        <div class="w-12 h-1 bg-[#902727] rounded-full"></div>
    </div>
    <!-- Primera fila white (todos los logos de white) -->
    <div class="wrapper-left flex items-center">
        <div class="logo-container"><img class="item-left item1" src={articoLogo.src} alt="Artico"></div>
        <div class="logo-container"><img class="item-left item2 logo-grande" src={havannaLogo.src} alt="Havanna"></div>
        <div class="logo-container"><img class="item-left item3" src={naranjaxLogo.src} alt="NaranjaX"></div>
        <div class="logo-container"><img class="item-left item4" src={lacosteLogo.src} alt="Lacoste"></div>
        <div class="logo-container"><img class="item-left item5" src={torreonLogo.src} alt="Torreón del Monje"></div>
        <div class="logo-container"><img class="item-left item6" src={i47streetLogo.src} alt="47 Street"></div>
        <div class="logo-container"><img class="item-left item7" src={cafeMartinezLogo.src} alt="Café Martínez"></div>
        <div class="logo-container"><img class="item-left item8" src={ripsaLogo.src} alt="Ripsa"></div>
        <div class="logo-container"><img class="item-left item9 logo-grande" src={tiendaLeonLogo.src} alt="Tienda León"></div>
        <div class="logo-container"><img class="item-left item10" src={sacoaLogo.src} alt="Sacoa"></div>
        <div class="logo-container"><img class="item-left item11" src={andreaniLogo.src} alt="Andreani"></div>
        <div class="logo-container"><img class="item-left item12" src={montecatiniLogo.src} alt="Montecatini"></div>
    </div>
    
    <!-- Fila central others (todos los logos de others) -->
    <div class="wrapper-right flex items-center">
        <div class="logo-container"><img class="item-right item1" src={subwayLogo.src} alt="Subway"></div>
        <div class="logo-container"><img class="item-right item2" src={clubMilaLogo.src} alt="Club Milanesa"></div>
        <div class="logo-container"><img class="item-right item3 logo-grande" src={raffeLogo.src} alt="Raffe"></div>
        <div class="logo-container"><img class="item-right item4" src={mercadoPuertoLogo.src} alt="Mercado Puerto"></div>
        <div class="logo-container"><img class="item-right item5" src={mayoristaSotoLogo.src} alt="Mayorista Soto"></div>
        <div class="logo-container"><img class="item-right item6" src={zanellaLogo.src} alt="Zanella"></div>
        <div class="logo-container"><img class="item-right item7" src={tripLogo.src} alt="Trip"></div>
        <div class="logo-container"><img class="item-right item8" src={santulliLogo.src} alt="Santulli"></div>
        <div class="logo-container"><img class="item-right item9" src={beniplastLogo.src} alt="Beniplast"></div>
        <div class="logo-container"><img class="item-right item10" src={centrosiderLogo.src} alt="Centrosider"></div>
        <div class="logo-container"><img class="item-right item11" src={edeaLogo.src} alt="Edea"></div>
        <div class="logo-container"><img class="item-right item12" src={pampaLogo.src} alt="Pampa Novillo"></div>
    </div>
    
    <!-- Segunda fila white (resto de logos white) -->
    <div class="wrapper-left flex items-center">
        <div class="logo-container"><img class="item-left item1" src={alicanteBalnearioLogo.src} alt="Alicante Balneario"></div>
        <div class="logo-container"><img class="item-left item2" src={libreriaLuroLogo.src} alt="Librería Luro"></div>
        <div class="logo-container"><img class="item-left item3" src={mrFlyLogo.src} alt="Mr Fly"></div>
        <div class="logo-container"><img class="item-left item4" src={naldoLogo.src} alt="Naldo"></div>
        <div class="logo-container"><img class="item-left item5" src={arohaLogo.src} alt="Aroha"></div>
        <div class="logo-container"><img class="item-left item6" src={campoVerdeLogo.src} alt="Campo Verde"></div>
        <div class="logo-container"><img class="item-left item7" src={sullairLogo.src} alt="Sullair"></div>
        <div class="logo-container"><img class="item-left item8" src={laPrimeraCafeLogo.src} alt="La Primera Café"></div>
        <div class="logo-container"><img class="item-left item9" src={feriaIndependenciaLogo.src} alt="Feria Independencia"></div>
        <div class="logo-container"><img class="item-left item10" src={altoConstitucionLogo.src} alt="Alto Constitución"></div>
        <div class="logo-container"><img class="item-left item11" src={terrazasLogo.src} alt="Terrazas Balneario"></div>
        <div class="logo-container"><img class="item-left item12" src={alfonsinaBalnearioLogo.src} alt="Terrazas Balneario"></div>
    </div>
</section>

<style scoped>
    .wrapper-left {
        margin-inline: auto;
        position: relative;
        height: 200px;
        margin-top: 1rem;
        overflow: hidden;
        mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0 ,0),
            rgba(0, 0 ,0 ,1) 20%,
            rgba(0, 0 ,0 ,1) 80%,
            rgba(0, 0 ,0 ,0)
        );
    }

    .wrapper-right {
        margin-inline: auto;
        position: relative;
        height: 200px;
        margin-top: 2rem;
        overflow: hidden;
        background-color: rgba(133, 24, 24, 0.295);
    }

    .logo-container {
        width: 220px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    @keyframes scrollLeft {
        to {
            left: -220px;
        }
    }

    @keyframes scrollRight {
        to {
            right: -220px;
        }
    }

    .item-left {
        max-width: 160px;
        max-height: 80px;
        object-fit: contain;
        position: relative;
    }

    .item-right {
        max-width: 160px;
        max-height: 80px;
        object-fit: contain;
        position: relative;
    }

    /* Animaciones para hasta 12 elementos */
    .logo-container:nth-child(1) {
        left: max(calc(220px * 12), 100%);
        animation: scrollLeft 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 1) * -1);
    }

    .logo-container:nth-child(2) {
        left: max(calc(220px * 12), 100%);
        animation: scrollLeft 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 2) * -1);
    }

    .logo-container:nth-child(3) {
        left: max(calc(220px * 12), 100%);
        animation: scrollLeft 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 3) * -1);
    }

    .logo-container:nth-child(4) {
        left: max(calc(220px * 12), 100%);
        animation: scrollLeft 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 4) * -1);
    }

    .logo-container:nth-child(5) {
        left: max(calc(220px * 12), 100%);
        animation: scrollLeft 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 5) * -1);
    }

    .logo-container:nth-child(6) {
        left: max(calc(220px * 12), 100%);
        animation: scrollLeft 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 6) * -1);
    }

    .logo-container:nth-child(7) {
        left: max(calc(220px * 12), 100%);
        animation: scrollLeft 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 7) * -1);
    }

    .logo-container:nth-child(8) {
        left: max(calc(220px * 12), 100%);
        animation: scrollLeft 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 8) * -1);
    }

    .logo-container:nth-child(9) {
        left: max(calc(220px * 12), 100%);
        animation: scrollLeft 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 9) * -1);
    }

    .logo-container:nth-child(10) {
        left: max(calc(220px * 12), 100%);
        animation: scrollLeft 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 10) * -1);
    }

    .logo-container:nth-child(11) {
        left: max(calc(220px * 12), 100%);
        animation: scrollLeft 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 11) * -1);
    }

    .logo-container:nth-child(12) {
        left: max(calc(220px * 12), 100%);
        animation: scrollLeft 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 12) * -1);
    }

    .wrapper-right .logo-container:nth-child(1) {
        right: max(calc(220px * 12), 100%);
        left: auto;
        animation: scrollRight 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 1) * -1);
    }

    .wrapper-right .logo-container:nth-child(2) {
        right: max(calc(220px * 12), 100%);
        left: auto;
        animation: scrollRight 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 2) * -1);
    }

    .wrapper-right .logo-container:nth-child(3) {
        right: max(calc(220px * 12), 100%);
        left: auto;
        animation: scrollRight 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 3) * -1);
    }

    .wrapper-right .logo-container:nth-child(4) {
        right: max(calc(220px * 12), 100%);
        left: auto;
        animation: scrollRight 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 4) * -1);
    }

    .wrapper-right .logo-container:nth-child(5) {
        right: max(calc(220px * 12), 100%);
        left: auto;
        animation: scrollRight 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 5) * -1);
    }

    .wrapper-right .logo-container:nth-child(6) {
        right: max(calc(220px * 12), 100%);
        left: auto;
        animation: scrollRight 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 6) * -1);
    }

    .wrapper-right .logo-container:nth-child(7) {
        right: max(calc(220px * 12), 100%);
        left: auto;
        animation: scrollRight 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 7) * -1);
    }

    .wrapper-right .logo-container:nth-child(8) {
        right: max(calc(220px * 12), 100%);
        left: auto;
        animation: scrollRight 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 8) * -1);
    }

    .wrapper-right .logo-container:nth-child(9) {
        right: max(calc(220px * 12), 100%);
        left: auto;
        animation: scrollRight 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 9) * -1);
    }

    .wrapper-right .logo-container:nth-child(10) {
        right: max(calc(220px * 12), 100%);
        left: auto;
        animation: scrollRight 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 10) * -1);
    }

    .wrapper-right .logo-container:nth-child(11) {
        right: max(calc(220px * 12), 100%);
        left: auto;
        animation: scrollRight 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 11) * -1);
    }

    .wrapper-right .logo-container:nth-child(12) {
        right: max(calc(220px * 12), 100%);
        left: auto;
        animation: scrollRight 40s linear infinite;
        animation-delay: calc(40s / 12 * (12 - 12) * -1);
    }

    .logo-grande {
        max-width: 220px !important;
        max-height: 150px !important;
    }
</style>